@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>CIT 365 .NET Software Development<br />
   <b>Instructor: </b> Brother Blazzard <br />
    Makram Ibrahim <br />
    Utah, United States
    </p>

