@{
    ViewData["Title"] = "Home Page";
}
<style>
    .img {
        background-image: url("/images/san-jose-state-university-106864_960_720.jpg");
        background-repeat: no-repeat;
        padding: 50px;
    }
      .lead {
          margin-top: 400px;
      }

</style>

<div class="img">
    <h1 class="text-white">Welcome to Contoso</h1>

    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Log in</a>
    </p>
</div>